FACEBOOK_CLIENT_ID=xxxxxxxx
FACEBOOK_CLIENT_SECRET=xxxxxxx

GOOGLE_CLIENT_ID=xxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx

INSTAGRAM_CLIENT_ID=xxxxxxxx
INSTAGRAM_CLIENT_SECRET=xxxxxxxxxx

EXPO_CLIENT_URL=exp://192.168.0.17:19000

BASE_URL=https://localhost

MONGODB_URL=mongodb://localhost:port/database-name

APP_SECRET=xxxxxxxxx
APP_SECRET_FOR_NOT_REGISTERED_USERS=xxxxxxxxxx
